# General
pandapower==2.13.1
matplotlib==3.7.1
numba==0.57.0
scikit-learn==1.2.1
openpyxl==3.1.2
# main_exercise
bokeh==3.1.1
# bonus_exercise
pandas==2.2.3
ipympl==0.9.7 
ipywidgets==8.1.6 
jupyterlab_widgets==3.0.14 
widgetsnbextension==4.0.14
plotly==5.16.1

# From Philipp to evade psycopg2
numpydoc
sphinx
sphinx_rtd_theme
sphinx-pyproject
igraph
geopandas
pytest>=7.0
pytest-xdist
nbmake
ortools
lightsim2grid==0.10.1
xlsxwriter
cryptography
matpowercaseframes
power-grid-model-io